body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

*{
  box-sizing: border-box;
}

#nav-header {
  background-color: #8451a1;
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 80px;
  transition: top 0.5s;
}

.custom-container {
  margin: 20px 180px;
}

.header-container {
  padding-bottom: 40px;
}

#nav-header .brand {
  float: left;
}

.logo-text {
  font-size: 30px;
}

#nav-header nav {
  float: right;
  margin-top: 15px;
}

#nav-header .logo {
  color: #fffb53;
}

nav ul li {
  display: inline;
}

#nav-header .logo-text {
  color: #fff;
}

#nav-header nav a {
  color: #fff;
  padding: 0 16px;
  text-decoration: none;
  font-weight: bold;
}

#nav-header nav a:nth-child(2) {
  text-decoration: underline;
}

#nav-header nav a:hover {
  text-decoration: underline;
}

.menu-btn {
  float: right;
  margin-bottom: 5px;
  visibility: hidden
}

.overlay {
  height: 100%;
  background-color: #8451a1;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.overlay-content{
  top: 40px
}

.overlay-content ul {
  list-style: none;
  position: relative;
  float: left;
  top: 40px;
}

.overlay-content a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

.overlay-content a:hover {
  text-decoration: underline;
}

.overlay .closebtn {
  font-size: 70px;
  float: right;
  top: 0px;
  }

.menu-btn .btn-line{
  background-color: #fff;
  height: 3px;
  width: 28px;
  margin-bottom: 5px;
  
}

.home {
  margin-top: 40px;
}

#home {
  padding-top: 120px;
}

.headline {
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  font-weight: normal;
}

.bold {
  color: #8451A1;
}


.itallic-h3 {
  font-style: italic;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 25px;
  font-size: 25px;
  color: #3a414e;
}

.itallic-h4 {
  font-style: italic;
  font-weight: bold;
  color: #3a414e;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.ul-heading {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bolder;
  color: #3a414e;
  margin-left: 10px;
}

kbd {
  background-color: #fdf4f4;
  color: #e77d99;
}

.in-link {
  color: #9351a9;
}

.ul li {
  padding: 3px;
}

.yellow {
  background-color: #fcf8f2;
  border-left: #f0ad4e solid 10px;
}

.blue{
  background-color: #F4F8FA;
  color: #28A9D3;
  border-left: #28A9D3 solid 10px;
}

.green {
  background-color: #F1F9F1;
  color: #5CB85C;
  border-left: #5CB85C solid 10px;
}

.yellow p {
  color: #f0ad4e;
}

.notices {
  margin-left: 20px;
  padding: 1px 1px 1px 30px;
  margin-top: 40px;
}

.notices p {
  margin-top: 20px;
}

.testing {
  line-height: 2.3;
  color: #50596C;
}

#foot01 {
  padding-top: 70px;
  position: fixed;
  bottom: 0;
  background-color: #f8f9fa;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

.intro-message {
  font-style: italic;
  font-size: 20px;
  text-align: center; 
}

.conversational-form{
  z-index: -1;
  position: absolute;
  bottom: 60px;
}

 .message-box {
  width: 40%;
  background-color: #EBEBEB;
  padding: 15px;
  color: #8451A1;
  border-radius: 4px 20px 20px 20px;
 }

 .res-in {
  width: 80%;
  padding-top: 10px;
 }

 .input{
   border-radius: 40px;
   padding: 8px;
   box-shadow: 5px 5px 20px gray;
   margin-right: 20px;
 }

 .fa-arrow-up{
   font-size: 40px;
   color: #fff;
 }

 button[type="submit"]{
   background-color: #8451A1;
   float: right;
   border-radius: 50%;
 }
 .response {
   float: left;
   background-color: #fff;
   border: none;
   outline: none;
 }
/*styling the mobile*/
@media (max-width: 923px) {
  #home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  

  header {
    height: 50px;
  }

  .custom-container {
    margin: 20px 20px;
  }

  .brand {
    float: left;
  }

  .nav {
    float: right;
    margin-bottom: 15px;
  }

  .menu-btn {
    visibility: visible;
  }

  .btn-line{
    width: 28px;
    height: 40px;
    color: #fff;
  }
  .nav ul{
    display: none;

  }

  .testing {
    line-height: 2.3;
  }

  .conversational-form {
    position: absolute;
    bottom: 70px;
  }

  .message-box {
    width: 70%;
   }

   .intro-message {
     font-size: 16px;
   }
}


